html {
    font-size: 15px;
}

body {
    margin: 0;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: #000;
}

*
*::before,
*::after {
    box-sizing: border-box;
}

.container {
    max-width: 100%;
    width: 800px;
    padding: 1rem;
    margin: 20px auto;

    background-color: #eee;

}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.flex-iten {
    height: 300px;
    flex-grow: 1;
    flex-basis: 0;
}

.red {
    background-color: rgb(224, 13, 13);
}

.green {
    background-color: rgb(19, 185, 14);
}

.blue {
    background-color: blue;
}

.title {
    margin: 0 0 1rem;

    font-size: 2rem;
    color: #000;
}


/* Media */

@media(max-width: 600px) {

    .flex-iten {
        flex-basis: 100%;
    }

    .red {
        order: 1;
    }

    .blue {
        order: 2;
    }

    .green {
        order: 3;
    }
}

@media (max-width: 350px) and (orientation: landscape)  {
    .flex-iten {
        height: 200px;

    }
    .container {
        width: 100%;
    }
}